<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ titulo }}
      <mat-divider></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #crudForm="ngForm">
      <ng-content select="[body]">
      </ng-content>

      <div class="row">
        <div class="col-md-12">
          <button
              mat-raised-button
              color="primary"
              (click)="onSalvar()"
              [disabled]="!crudForm.valid || isSalvando">
            Salvar
          </button>

          <button
              mat-raised-button
              color="accent"
              style="margin-left: 5px;"
              type="reset">
            Limpar
          </button>

          <button
              mat-raised-button
              color="warn"
              style="margin-left: 5px;"
              (click)="onExcluir()"
              [disabled]="!categoria?.id">
            Excluir
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
