<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ titulo }}
      <mat-divider></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #crudForm="ngForm">
      <div class="row">
        {{ categoria | json }}
      </div>
      <div class="row">
        {{crudForm.valid }}
      </div>
      <div class="row">
        {{ crudForm.invalid }}
      </div>

      <div class="row">
        <div
            *ngIf="crudForm.touched && crudForm.invalid"
            class="alert alert-danger"
            role="alert">
          Preencha todo os campos obrigatorio!
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-3">
          <app-input
            label="Código">
          </app-input>
        </div>

        <div class="col-md-6">
          <app-input
              label="Descrição">
          </app-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button
              mat-raised-button
              color="primary"
              (click)="onSalvar()"
              [disabled]="!crudForm.valid || isSalvando">
            Salvar
          </button>

          <button
              mat-raised-button
              color="accent"
              style="margin-left: 5px;"
              type="reset">
            Limpar
          </button>

          <button
              mat-raised-button
              color="warn"
              style="margin-left: 5px;"
              (click)="onExcluir()"
              [disabled]="!categoria?.id">
            Excluir
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
