<app-cadastro
    [service]="service"
    titulo="Cadastro de categoria">
  <div body>
    <div class="row">
        {{ categoria | json }}
    </div>

    <div class="row">
      <div class="col-md-3">
        <app-input-text
          label="Código"
          [disabled]="true"
          [(ngModel)]="id">
        </app-input-text>
      </div>

      <div class="col-md-6">
        <app-input-text
          label="Descrição"
          [required]="true"
          [maxlength]="40"
          [(ngModel)]="descricao">
        </app-input-text>
      </div>
    </div>
  </div>
</app-cadastro>
