<div class="form-group">
  <label [attr.for]="id"
        class="control-label"
        *ngIf="hideLabel !== false && label">
      <strong>
        {{ label }}
      </strong>
      <i
        *ngIf="required"
        class="input-label-required fa fa-asterisk">
      </i>
      <span *ngIf="requiredConditional">
          (<i class="input-label-required fa fa-asterisk"></i>)
      </span>
  </label>

  <input
    type="text"
    class="form-control form-control-sm"
    #inputField="ngModel"
    #inputHtml
    [id]="id"
    [name]="id"
    [attr.name]="id"
    [attr.aria-label]="label"
    [maxLength]="maxlength"
    [minLength]="minlength"
    [required]="required"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [readonly]="readonly"
    [pattern]="pattern"
    [(ngModel)]="value"
    [ngClass]="{ 'is-invalid': inputField.touched && !inputField.valid }">
</div>
